* {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    color:  #1E4D2B;
    padding: 15px 30px;
}
h2{
    color:  #1E4D2B;
    padding: 15px 0px;
    font-size:x-large;
}
body {
    border: 2px solid  #1E4D2B;
    width: 80%;
    margin: auto;
}
main{
    padding: 15px;
}
main p{
    text-indent: 5%;
}
ul {
    background-color:  #1E4D2B;
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}
li a:hover {
    background-color: #102917;
    color: white;
}
.active {
    background-color: #C8C372;
    color: black;
    font-weight: bold;
}
img{
    height: auto;
    width: 200px;
    float: left;
}
.floatClear{
    clear: both;
}


/* text input style */
.textInputs{
    border: 1px solid grey;
    border-radius: 4px;
}
.inputForm{
    border: 1px solid grey;
    padding: 2%;
    border-radius: 4px;
}
.inputForm label, .inputForm input[type=text]  {
    margin-bottom: 2%;
}
.inputForm input[type=submit]{
    border: none;
    border-radius: 4px;
    background-color: #102917;
    color: white;
    padding: 8px 16px;
}
.inputForm p{
    margin-top: 2%;
    color: red;
}

/* color table style */
.upper{
    width: 95%;
    margin:auto;
    text-align: center;
}
.upper, .upper td{
    border: 2px solid grey;
    border-collapse: collapse;
}
.right{
    width: 80%;
}
.dupErr{
    color: red;
}


/* lower table styles */
.lower{
    /* width: 95%; */
    margin:auto;
    text-align: center;
}
.lower, .lower td{
    border: 2px solid grey;
    border-collapse: collapse;
}
.lower td{
    width: 2.5vw;
    height: 2.5vw;
}

/* button style */
button{
    border: none;
    border-radius: 4px;
    background-color: #102917;
    color: white;
    padding: 8px 16px;
    margin: 8px 16px;
}